[Unit]
Description=Spotipi led matrix service
After=local-fs.target

[Service]
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=spotipi
LimitRTPRIO=99
LimitMEMLOCK=infinity
Restart=always
RestartSec=3
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
